.body {
  color: white;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}
h4 {
  color: green;
}
.nav_links {
  color: white;
}
ul li {
  display: inline;
  list-style: none;
}
nav {
  display: inline;
}
.landing_img {
  width: 100%;
  height: 200px;
}
/**font-family: 'Montserrat', sans-serif;**/
